<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Herotek</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'calendarapp/css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="">
</head>
<body>
    {% include 'calendarapp/include/_menu.html' %}
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'calendarapp/js/materialize.rtl.min.js' %}"></script>
    <script>
        $(document).ready(function () {
          $(".button-collapse").sideNav();
          $('.slider').slider();
    });
    </script>
</body>
</html>