{% extends 'app/base.html' %} {% load static %} {% block title %}
<title>Herotek | Blog</title>
{% load markdownify %}
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3 xl12">
      <ul class="collapsible" data-collapsible="accordion">
        {% for entry in object_list %}
        <li>
          <div class="collapsible-header">
              <a href="{{ entry.slug }}">
            <i class="material-icons">add</i>{{ entry.headline }}
              </a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}