{% load static %}
  <!-- footer -->
<footer class="page-footer blue">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <!-- <img src="http://via.placeholder.com/300x50"> -->
      <h5 class="white-text">آدرس :</h5>
      <p class="grey-text text-lighten-4">ارومیه، دانشکده ، کوچه ی منصوری افشار ، مجتمع مهر ، طبقه -۱ ، پلاک ۴۳
      </p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">تماس با ما :</h5>
      <ul>
        <li>
          <a class="grey-text text-lighten-3" href="#!">تلفن : ۰۴۴۳۳۴۸۵۹۳۴ </a>
        </li>
        <li>
          <a class="grey-text text-lighten-3" href="#!">همراه : ۰۹۱۴۱۴۳۶۰۸۸</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    <p class="white-text center-align">© تمامی حقوق مادی و معنوی وب سایت متعلق به شرکت هیروتک می باشد.</p>
  </div>
</div>
</footer>





