{% load static %}
<!-- footer -->
<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col m3 s6 ">
                <!-- <img src="#"> -->
                
                <p class="white-text"> دسترسی سریع :</p>
                <ul class="right white-text">
                    <li>
                        <a href="/">
                            <i class="material-icons right tinn">select_all</i> خانه</a>
                    </li>
                    <li>
                        <a href="{% url 'service' %}">
                            <i class="material-icons right tinn">star_border</i> سرویس</a>
                    </li>
                    <li>
                        <a href="{% url 'product' %}">
                            <i class="material-icons right tinn">share</i> محصولات</a>
                    </li>
                    <li>
                        <a href="{% url 'req' %}">
                            <i class="material-icons right tinn">attach_file</i> فرم درخواست</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">
                            <i class="material-icons right tinn">call</i> تماس</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End of Row -->

    </div>
    <div class="footer-copyright">
        <div class="container">
            <p class="white-text center-align">© تمامی حقوق مادی و معنوی وب سایت متعلق به شرکت هیروتک می باشد.</p>
        </div>
    </div>
</footer>