{% load static %}
<!-- footer -->
<footer class="page-footer blue">
    <div class="container">
        <div class="row">

            <div class="col m6 s12">
                <h5 class="white-text">راههای ارتباطی با ما ...</h5>
                <p class="white-text">آدرس:
                        <br> ارومیه ، خیابان دانشکده ، مجتمع مهر ، پلاک ۴۳ </p>
                    <p></p>
                <ul class="right white-text">
                    <li>
                        <a href="tel:00984433485934">
                            <i class="material-icons right tinn">call</i> تلفن : ۰۴۴۳۳۴۸۵۹۳۴</a>
                    </li>
{#                    <li>#}
{#                        <a href="tel:00989141436088">#}
{#                            <i class="material-icons right tinn">dialer_sip</i> همراه : ۰۹۱۴۱۴۳۶۰۸۸</a>#}
{#                    </li>#}
                </ul>

                <!-- <img class="responsive-img" src="{% static 'app/img/telegram.png' %}"> -->
            </div>

            <div class="col m3 s6 ">
                <!-- <img src="#"> -->

                <h5 class="white-text"> دسترسی سریع :</h5>
                <ul class="right white-text">
                    <li>
                        <a href="{% url 'service' %}">
                            <i class="material-icons right tinn">devices_other</i> معرفی خدمات</a>
                    </li>
                    <li>
                        <a href="{% url 'product' %}">
                            <i class="material-icons right tinn">explore</i> سرویس و محصولات</a>
                    </li>
                    <li>
                        <a href="{% url 'entry-list' %}">
                            <i class="material-icons right tinn">attach_file</i>آموزش و دانلود</a>
                    </li>
                    <!-- <li>
                        <a href="{% url 'req' %}">
                            <i class="material-icons right tinn">attach_file</i> فرم درخواست</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">
                            <i class="material-icons right tinn">call</i> تماس</a>
                    </li> -->
                </ul>
            </div>

            <div class="col m3 s6">
                <div class="card card-default blue lighten-3">
                    <div class="card-content white-text center-align">
                        <a href='javascript:PayirTrust();'>
                            <img src='https://pay.ir/assets/img/pay-trust.png' alt='نماد اعتماد درگاه Pay.ir' class="hoverable">
                        </a>
                        <script type='text/javascript'>
                            function PayirTrust() {
                                window.open('https://pay.ir/trust/31930', '',
                                    'scrollbars=yes, width=500, height=500, top=150, left=300');
                            }
                        </script>
                        <br>
                        <a href="https://t.me/herotek"><img class="responsive-img hoverable" src="{% static 'app/img/telegram.png' %}"></a>
                        <a href="https://www.instagram.com/herotek.ir/"><img class="responsive-img hoverable" src="{% static 'app/img/instagram.png' %}"></a>

                    </div>
                </div>


            </div>
        </div>
        <!-- End of Row -->

    </div>

    <div class="footer-copyright">
        <div class="container">
            <p class="white-text center-align"> ۱۳۹۷© تمامی حقوق مادی و معنوی وب سایت متعلق به شرکت هیروتک می باشد. </p>
        </div>
    </div>

</footer>