<!--Start-->
{% load static %}
  <!--**Navbar**-->
  <div class="navbar-fixed">
    <nav role="navigation">
      <div class="nav-wrapper blue">
        <a class="brand-logo left" href="#">
          <img src="{% static 'calendarapp/img/top_logo_tr.png'%}" />
        </a>
        <a class="button-collapse" href="#" data-activates="mobile-demo">
          <i class="material-icons">menu</i>
        </a>
        <!-- **Right nav**-->
        <ul class="right hide-on-med-and-down waves-effect">
          <li>
            <a href="/">
              <i class="material-icons right tinn">home</i> خانه</a>
          </li>
          <li>
            <a href="/service">
              <i class="material-icons right tinn">extension</i> سرویس</a>
          </li>
          <li>
            <a href="#prudoct">
              <i class="material-icons right tinn">apps</i> محصولات</a>
          </li>
          <li>
            <a href="#price">
              <i class="material-icons right tinn">folder_special</i> تعرفه</a>
          </li>
        </ul>
        <!--&lt;!&ndash;** Left Nav** &ndash;&gt;-->
        <!--<ul class="left hide-on-med-and-down waves-effect">-->
          <!--<li>-->
            <!--<a href="#">-->
              <!--<i class="material-icons right tinn">loupe</i> نمونه کار</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">-->
              <!--<i class="material-icons right tinn">info_outline</i> درباره</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">-->
              <!--<i class="material-icons right tinn">insert_emoticon</i> تماس با ما</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">-->
              <!--<i class="material-icons right">search</i>-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->

        <ul class="side-nav" id="mobile-demo">
          <li>
            <div class="user-view">
              <div class="background">
                <img src="http://via.placeholder.com/300x100">
              </div>
            </div>
          </li>
          <li>
            <a href="badges.html">Components</a>
          </li>
          <li>
            <a href="collapsible.html">Javascript</a>
          </li>
          <li>
            <a href="#"> نمونه کار</a>
          </li>
          <li>
            <a href="#"> درباره</a>
          </li>
          <li>
            <a href="#">تماس با ما</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
  <!-- **end of nav-->