<!--Start-->
{% load static %}
<!--**Navbar**-->
<div class="navbar-fixed">
  <nav role="navigation">
    <div class="nav-wrapper blue">
      <a class="brand-logo left hide-on-small-and-down" href="/">
        <img src="{% static 'app/img/hero_logo.png' %}" />
      </a>
{#      <a class="button-collapse" href="#" data-activates="mobile-demo">#}
{#        <i class="material-icons">menu</i>#}
{#      </a>#}
      <!-- **Right nav**-->
      <ul class="right waves-effect">
        <li>
          <a href="/" class="white-text" >
            <i class="material-icons right tooltipped" data-position="bottom" data-delay="50" data-tooltip="صفحه نخست">home</i></a>
        </li>
        <li>
          <a href="{% url 'service' %}" class="white-text">
            <i class="material-icons right tooltipped" data-position="bottom" data-delay="50" data-tooltip="معرفی خدمات نوین">queue_play_next</i></a>
        </li>
        <li>
          <a href="{% url 'product' %}" class="white-text">
            <i class="material-icons right tooltipped"  data-position="bottom" data-delay="50" data-tooltip="محصولات و سرویس های ابری">cloud_circle</i></a>
        </li>
        <li>
          <a href="{% url 'entry-list' %}" class="white-text">
            <i class="material-icons right tooltipped" data-position="bottom" data-delay="50" data-tooltip="بلاگ ، آموزش ، اخبار و دانلود">textsms</i></a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'logout' %}" class="white-text">
            <i class="material-icons right tooltipped" data-position="bottom" data-delay="50" data-tooltip="خروج">sentiment_very_satisfied</i></a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login' %}" class="white-text">
            <i class="material-icons right tooltipped" data-position="bottom" data-delay="50" data-tooltip="ناحیه کاربری">person_add</i></a>
        </li>
{#        <li>#}
{#          <a href="{% url 'register' %}">#}
{#            <i class="material-icons right ">person_add</i></a>#}
{#        </li>#}
        {% endif %}

      </ul>

{#      <ul class="side-nav" id="mobile-demo" style="/* transform: translateX(150%); */">#}
{#        <li>#}
{#          <div class="user-view">#}
{#            <div class="background">#}
{#              <img src="{% static 'app/img/menu_.png' %}">#}
{#            </div>#}
{#          </div>#}
{#        </li>#}
{#        <li>#}
{#          <a class="waves-effect " href="/"> خانه</a>#}
{#        </li>#}
{#        <li>#}
{#          <a class="waves-effect" href="{% url 'service' %}"> سرویس</a>#}
{#        </li>#}
{#        <li>#}
{#          <a class="waves-effect" href="{% url 'product' %}"> محصولات</a>#}
{#        </li>#}
{#        <li>#}
{#          <a class="waves-effect" href="{% url 'entry-list' %}"> بلاگ</a>#}
{#        </li>#}
{#        {% if user.is_authenticated %} #}
{#        <li>#}
{#          <a class="waves-effect" href="{% url 'logout' %}"> خروج</a>#}
{#        </li>#}
{#        {% else %} #}
{#        <li>#}
{#          <a class="waves-effect" href="{% url 'login' %}"> ورود</a>#}
{#        </li>#}
{#        <li>#}
{#          <a class="waves-effect" href="{% url 'register' %}"> ثبت نام</a>#}
{#        </li>#}
{#        {% endif %}#}
{#      </ul>#}


    </div>
  </nav>
</div>
<!-- **end of nav-->