{% extends 'app/base.html' %} {% load static %} {% block content %}
<div class="container contact">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="card hoverable">
                <div class="card-stacked ">
                    <div class="card-content ">
                        <img class="responsive-img" src="{% static 'app/img/contact.png' %}">
                        <br>
                        <!-- <h5 class="grey-text text-darken-3 center-align">تلفن : ۰۴۴۳۳۴۸۵۹۳۴ - همراه : ۰۹۱۴۱۴۳۶۰۸۸</h5> -->
                        <br>
                        <br>
                        <div class="center-btn center-align card-action">
                            <a href="tel:00984433485934" class="btn waves-effect waves-light blue white-text">تلفن</a>
                            <a href="tel:00989141436088" class="btn waves-effect waves-light blue white-text">همراه</a>
                            <a href="#" class="btn waves-effect waves-light blue white-text">تلگرام</a>
                            <a href="#" class="btn waves-effect waves-light blue white-text">اینستاگرام</a>
                        </div>
                    </div>
                    <!-- <div class="card-action">
                        <a href="#">This is a link</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}