{% extends 'app/base.html' %} {% load static %} {% block content %}
<div class="container contact">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="card hoverable">
                <div class="card-stacked ">
                    <div class="card-content ">
                            <img class="responsive-img" src="{% static 'app/img/contact.png' %}">
                        <br>
                        <h5 class="grey-text text-darken-3 center-align">تلفن : ۰۴۴۳۳۴۸۵۹۳۴  -  همراه : ۰۹۱۴۱۴۳۶۰۸۸</h5>
                        <br>
                        <br>
                        <div class="row center-align">
                            <div class="col">
                                    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">call</i></a>
                                    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                                    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col ">
                                <p> تلگرام</p>
                            </div>
                            <div class="col">
                                <p> اینستاگرام </p>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="card-action">
                        <a href="#">This is a link</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}