{% extends 'app/base.html' %} {% load static %}
{% block title %} {{ block.super }}| صفحه نخست {% endblock %}
{% block content %}

{# Main Section #}
{% include 'app/include/home/_main_home.html' %}


{# Future cards #}
{% include 'app/include/home/_main_future_card.html' %}



{# Text Section #}
{% include 'app/include/home/_main_text_section.html' %}

{# Slider Section #}
{#{% include 'app/include/home/_main_slider.html' %}#}
{##}
{# include Intro main Design in pure staructer #}
{% include 'app/include/home/_main_intro.html' %}

{% block jscripts %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
{% endblock jscripts %}
{##}






{% endblock %}