{% extends 'app/base.html' %} {% load static %}
{% block title %} {{ block.super }}| صفحه نخست {% endblock %}
{% block content %}

{# Main Section #}
{% include 'app/include/home/_main_home.html' %}


{# Future cards #}
{% include 'app/include/home/_main_future_card.html' %}



{# Text Section #}


{# Slider Section #}
{% include 'app/include/home/_main_slider.html' %}
{##}

{% include 'app/include/home/_main_webapp_.html' %}

{% include 'app/include/home/_main_analytic.html' %}

{% include 'app/include/home/main_develop.html' %}


    {% include 'app/include/home/_main_text_section.html' %}
{# include Intro main Design in pure staructer #}
{% include 'app/include/home/_main_intro.html' %}



{% block jscripts %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
{% endblock jscripts %}
{##}






{% endblock %}