{% extends 'app/base.html' %} {% load static %} 

{% block title %} {{ block.super }}| سرویس و محصولات {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for prod in prods %}
        <div class="col s10 offset-s1 m6 l4 xl4">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{{ prod.pic.url }}" alt="{{ prod.name }}" class="activator">
                </div>
                <div class="card-content">
                    <span class="activator card-title grey-text text-darken-3">{{ prod.name }} <i class="material-icons left tiny">more_vert</i></span>
{#                    <p>{{ prod.desc }}</p>#}
                </div>
                <div class="card-reveal">
                    <span class="card-title"><i class="material-icons">close</i> {{ prod.name }} </span>
                    <p class="text-justify">{{ prod.body|safe }}</p>
                    <a class="waves-effect waves-light btn blue"><i class="material-icons right">add</i>فرم درخواست</a>
                    <!-- <button class="btn"> Yo </button> -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
{#    <div class="row">#}
{#        <h5 class="center-align">برخی از مشتریان</h5>#}
{#        <br>#}
{##}
{#        <div class="col s10 offset-s1 m10 offset-m1 l12 xl12">#}
{#          <img src="{% static 'app/img/customer.png' %}" alt="New Technolgys" class="responsive-img grayscale">#}
{#        </div>#}
{#      </div>#}
      <br>
      <br>
      <h6 class="center-align">پیشرفت و موفقیت ‌کسب‌وکار شما , با کمک تجربه و روش های نوین دیجیتالی ما</h6>
      <br>
      <br>
      <div class="col s10 offset-s1 m10 offset-m1 l12 xl12">
        <img src="{% static 'app/img/techver1.png' %}" alt="New Technolgys" class="responsive-img grayscale">
      </div>
</div>
{% endblock %}

