{% extends 'app/base.html' %} {% load static %} {% block content %}
<div class="container-fluid">
    <div class="row">
        {% for service in services %}
        <div class="col s4 m4 l4 xl4">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{{ service.pic.url }}" alt="{{ service.name }}" class="activator">
                </div>
                <div class="card-content">
                    <span class="activator card-title grey-text text-darken-3">{{ service.name }} <i class="material-icons left tiny">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><i class="material-icons">close</i> {{ service.name }} </span>
                    <p>{{ service.desc }}</p>
                </div>
            </div><!-- card div -->

            <!-- <div class="card small">
                <div class="card-image">
                    <img src="{{ service.pic.url }}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{ service.name }}</span>
                    <p>{{ service.desc }}</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div> -->
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}